<body>
  <div
    style="min-height:600px;width=100vw;background-color:#1A1A1A;color:white;font-family:sans-serif;margin-top: 10px;">
    <center>
      <img src="cid:logo" alt="Image logo InfocusApp" style="border: 0;height: auto;width: 20%;" />
      <h1 style="color:#37BC37;font-size: 25px;">
        Be very welcome!
      </h1>
      <br />
      <p style="font-size:20px;">Hello, <strong>{{name}}!</strong></p>
      <p style="font-size: 20px;">Infocus is a time management tool.</p>
      <p style="font-size: 20px;">
        We use the Pomodoro method integrated with the Time Matrix, for a better use of your time.</p>
      <p style="font-size: 20px;">So, register your tasks, concentrate and leave the rest to us. 😉</p>
    </center>
  </div>
</body>
